.image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 10vm);
  grid-gap: 15px;
  margin-left: -10px;
  margin-top: 40px;
}

.title {
  justify-content: center;

}
